html{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#007bff;
}
:root{
    --title-color:#34cb79;
    --primary-color:#34cb79;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
h1,H2,H3,H4,H5,H6{
    color: var(--title-color);
    font-family: 'ubuntu', sans-serif;
}
body header img{
    height: 80px;
    width: 80px;
    border-radius: 20px;
}
body header div input{
    color: lime;
    background-color:#007bff; 
    border:#007bff; 
    font-size:20px;
}
